<script type="application/x-javascript">
  function enableDnd(t,disable){
    if (disable == undefined) {
      disable = false;
    }
    var nodes = t.treegrid('getPanel').find('tr[node-id]');
    nodes.find('span.tree-hit').bind('mousedown.treegrid',function(){
      return false;
    });
    nodes.draggable({
      disabled:disable,
      revert:true,
      cursor:'pointer',
      proxy: function(source){
        var p = $('<div class="tree-node-proxy tree-dnd-no"></div>').appendTo('body');
        p.html($(source).find('.tree-title').html());
        p.hide();
        return p;
      },
      deltaX: 15,
      deltaY: 15,
      onBeforeDrag:function(){
        $(this).next('tr.treegrid-tr-tree').find('tr[node-id]').droppable({accept:'no-accept'});
      },
      onStartDrag:function(){
        $(this).draggable('proxy').css({
          left:-10000,
          top:-10000
        });
      },
      onDrag:function(e){
        $(this).draggable('proxy').show();
        this.pageY = e.pageY;
      },
      onStopDrag:function(){
        $(this).next('tr.treegrid-tr-tree').find('tr[node-id]').droppable({accept:'tr[node-id]'});
      }
    }).droppable({
      accept:'tr[node-id]',
      onDragOver:function(e,source){
        var pageY = source.pageY;
        var top = $(this).offset().top;
        var bottom = top + $(this).outerHeight();
        $(source).draggable('proxy').removeClass('tree-dnd-no').addClass('tree-dnd-yes');
        $(this).removeClass('row-append row-top row-bottom');
        if (pageY > top + (bottom - top) / 2){
          if (bottom - pageY < 5){
            $(this).addClass('row-bottom');
          } else {
            $(this).addClass('row-append');
          }
        } else {
          if (pageY - top < 5){
            $(this).addClass('row-top');
          } else {
            $(this).addClass('row-append');
          }
        }
      },
      onDragLeave:function(e,source){
        $(source).draggable('proxy').removeClass('tree-dnd-yes').addClass('tree-dnd-no');
        $(this).removeClass('row-append row-top row-bottom');
      },
      onDrop:function(e,source){
        $(this).removeClass('row-append row-top row-bottom');
        src  = t.treegrid('find', $(source).attr('node-id'));
        dest = t.treegrid('find', $(this).attr('node-id'));
        if (dest.leaf || !src.leaf){
          alert("<%= t("html.no_move")%>");
          $(this).removeClass('row-append row-top row-bottom');
        }
        else{
          t.treegrid("remove",src.id);
          src._parentId = dest.id
          src.folio_id = dest.folio_id
          t.treegrid("append",{
            parent: dest.id,  
            data: [src]
          });
        }
      }
    });
  }
</script>